<%- include('./head') %>
<%- include('./header') %>
<body>
    <main>
        <div class="container" >
            <a class="links" id="paracadastro"></a>
            <a class="links" id="paralogin"></a>
            <div class="content">      
                <div id="login">
                    <form method="post" action="/entrar">
                        <h1>Dados do cliente</h1>
                        <p>
                            <label for="Nome">Nome:</label> 
                            <input type="text" placeholder="Digite seu nome" required="required">
                        </p>   
                        
                        <p>
                            <label for="CPF">CPF:</label> 
                            <input type="number" placeholder="Digite seu CPF" required="required">
                        </p>

                        <p>
                            <label for="Endereço">Endereço:</label>  
                            <input type="text" placeholder="Digite seu endereço" required="required"> 
                        </p>

                        <p>
                            <label for="E-mail">E-mail:</label> 
                            <input type="text" placeholder="Digite seu E-mail" required="required">
                        </p>

                        <p>
                            <label for="Celular">Celular:</label> 
                            <input type="number" placeholder="Digite seu celular" required="required">
                        </p>

                        <p>
                            <label for="Senha">Senha:</label> 
                            <input type="number" placeholder="Digite sua senha" required="required">
                        </p>
                        <input type="submit" value="Entrar"> 
                                           
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </main>
    <%- include('./footer') %>
</body>

</html>