<%- include('head') %>
  <%- include('header') %>  
  <h1> Noiva Clássica</h1>

  <p>Lorem ipsum dolor sit amet. Ea laborum odio eum tenetur necessitatibus et facilis galisum aut accusantium velit hic galisum aspernatur. Qui tempore numquam et excepturi tenetur rem praesentium sunt sit cupiditate placeat. Et porro dolor ut natus sint eos ratione ducimus qui amet quisquam aut itaque adipisci ut officiis voluptas eum officia possimus. </p>
  <p><a class="btn btn-secondary" href="#">Veja todos os vestidos dessa coleção</a></p>
  
  <h1> Noiva Romântica</h1>

  <p>Lorem ipsum dolor sit amet. Ea laborum odio eum tenetur necessitatibus et facilis galisum aut accusantium velit hic galisum aspernatur. Qui tempore numquam et excepturi tenetur rem praesentium sunt sit cupiditate placeat. Et porro dolor ut natus sint eos ratione ducimus qui amet quisquam aut itaque adipisci ut officiis voluptas eum officia possimus. </p>
  <p><a class="btn btn-secondary" href="#">Veja todos os vestidos dessa coleção</a></p>
  
  <h1> Noiva Sensual</h1>

  <p>Lorem ipsum dolor sit amet. Ea laborum odio eum tenetur necessitatibus et facilis galisum aut accusantium velit hic galisum aspernatur. Qui tempore numquam et excepturi tenetur rem praesentium sunt sit cupiditate placeat. Et porro dolor ut natus sint eos ratione ducimus qui amet quisquam aut itaque adipisci ut officiis voluptas eum officia possimus. </p>
  <p><a class="btn btn-secondary" href="#">Veja todos os vestidos dessa coleção</a></p>

  <%- include('footer') %>