<%- include('head') %>
  <%- include('header') %>  
  <h1> Nossa história</h1>

  <p>Lorem ipsum dolor sit amet. Ea laborum odio eum tenetur necessitatibus et facilis galisum aut accusantium velit hic galisum aspernatur. Qui tempore numquam et excepturi tenetur rem praesentium sunt sit cupiditate placeat. Et porro dolor ut natus sint eos ratione ducimus qui amet quisquam aut itaque adipisci ut officiis voluptas eum officia possimus. </p>
  <p>Aut perferendis consequatur sit quasi voluptatem et molestiae dolores ab unde sunt est galisum vero non corporis voluptatem. Non iste voluptatem sed nihil Quis in quod suscipit ut harum nostrum sed libero corporis ea cumque repellat. Eos amet voluptates ad nobis voluptate qui voluptatem asperiores ab omnis omnis quo quas molestiae. </p>
  <p>Sed natus corporis et dolorum molestiae qui nobis optio ea iure vitae ut voluptates obcaecati aut accusantium perferendis. Est error natus ut minus placeat qui velit sapiente sed enim dolor ad debitis natus. </p>

  <%- include('footer') %>